<link rel="stylesheet" href="/css/entradasSalidas/entradas.css">
<form action="/entradaSalida/entradas/agregar/{{user.idUsuarios}}" method="POST">
    <div id="Entradas">
        <label>Entradas</label>
    </div>
    <div id="fecha">
        <label>Fecha:</label>
        <input type="text" value="" name="fecha" id="fechas" readonly>
    </div>
    <div id="CODIGO">
        <label>C.Documento:</label>
        {{#each entrasLista}}
        <input type="text" value="{{'max(idRegistroEntradas)'}}" name="codigoDocumento" id="codigoDocumento" readonly>
        {{/each}}
    </div>
    <div id="Dtienda">
        <label>Tienda:</label>
        {{#each listaTienda}}
        <input type="text" value="{{nombreNegocio}}" name="Tienda" id="Tienda" readonly>
        {{/each}}
    </div>
    <div id="cliente">
        <label>Proveedor:</label>
        {{#each listaProveedor}}
        <input type="text" name="nombreProveedor" id="NombreProveedor" value="{{NombreProveedor}}" readonly>
        {{/each}}
    </div>
    <div id="tabla">
        <table border="1">
            <tr>
                <td>Codigo</td>
                <td>Producto</td>
                <td>Medida</td>
                <td>Entrada</td>
                <td>Cantidad Actual</td>
                <td>Precio Actual</td>
            </tr>
            <tr>
                {{#each listaProductos}}
                <td><input type="text" name="codigoProducto" id="codigo" value="{{codigo}}" readonly></td>
                <td><input type="text" name="nombreProducto" id="NombreProducto" value="{{NombreProducto}}" readonly></td>
                <td><input type="text" name="unidadMedida" id="UnidadMedida" value="{{unidadMedida}}" readonly></td>
                <td><input type="text" name="entraCantidad" id="Cantidad" value="{{Cantidad}}" readonly></td>
                <td><input type="text" name="cantidadRestante" id="Cantidad" value="{{productoCantidad}}" readonly></td>
                <td><input type="text" name="precioActual" id="precioActual" value="{{precioActual}}" readonly></td>
            </tr>
            {{/each}}
            <button type="submit" id="RegistroGuardar">Guardar</button>
        </table>
    </div>
</form>

<script src="/js/fecha.js"></script>