<LINK REL=StyleSheet HREF="/css/proveedor/listaproveedor.css" TYPE="text/css" MEDIA=screen>
<form action="/proveedor/lista/{{user.idUsuarios}}" id="f1">
    <div id="conetendor">
        <div class="row">
            {{#each proveedores }}
            <div id="tarjeta">
                <div>
                    <div>
                        <p id="datosPerosnales">Datos Personales</p><button id="botonX"><a
                                href="/proveedor/Eliminar/{{idProvedores}}"><img src="/img/iconos/eliminar.png"
                                    id="eliminar"></a></button>
                    </div>
                </div>
                <div>
                    <div id="datos">
                        <div id="NOMBRES">
                            <input type="text" value="{{NombreProveedor}}" id="NombreProveedor" readonly>
                        </div>
                        <div id="DIRECCION">
                            <input type="text" value="{{Direccion}}" id="Direccion" readonly>
                        </div>
                        <div id="CELULAR">
                            <input type="text" value="{{Celular}}" id="Numero" readonly>
                        </div>
                        <div id="TELEFONO">
                            <input type="text" value="{{Telefono}}" id="Numero" readonly>
                        </div>
                        <div id="ESTADO">
                            <input type="text" id="estado" value="{{Estado}}" readonly>
                        </div>
                    </div>
                    <div id="Editar">
                        <a href="/proveedor/editar/{{idProvedores}}" id="BotonEditar"><img src="/img/iconos/editar.png"
                                id="editar"></a>
                    </div>
                    <div id="agregar">
                        <button id="agregarProducto"><a href="/ProductoEntrada/agregar/{{idProvedores}}">Agregar un
                                Producto</a></button>
                    </div>
                </div>
            </div>
            {{else}}
            <div>
                <p>¡No has registrado Proveedores.!</p>
                <a href="/proveedor/agregar/{{user.idUsuarios}}">¡Introducir uno!</a>
            </div>
            {{/each}}
        </div>
    </div>
</form>

<div>
    <button id="masProveedor"><a href="/tienda/lista/{{user.idUsuarios}}"><img src="/img/iconos/mas.png"
                id="mas"></a></button>
</div>