<LINK REL=StyleSheet HREF="/css/productoEntrada/productoslista.css" TYPE="text/css" MEDIA=screen>
<form action="/ProductoEntrada/lista/{{user.idUsuarios}}">
    <nav id="nav">
        <div>
            <a id="entradas" href="/entradaSalida/eleccion/{{user.idUsuarios}}">Entradas y Salidas</a>
            <a id="bodega" href="/productos/lista/{{user.idUsuarios}}">Bodega</a>
        </div>
    </nav>
    <div id="contenedor">
        <div class="row">
             {{#each DatosProducto}}
            <div id="tarjeta">
                <div id="CODIGO">
                    <label>Código:</label>
                    <input type="text" value="{{codigo}}" id="codigo" readonly></input>
                </div>
                <div id="PRODUCTO">
                    <label>Producto:</label>
                    <input type="text" value="{{NombreProducto}}" id="NombreProducto" readonly></input>
                </div>
                <div id="CANTIDAD">
                    <label>Cantidad:</label>
                    <input type="text" value="{{CantidadTotal}}" id="Cantidad" readonly></input>
                </div>
                <div id="PRECIO">
                    <label>Precio:</label>
                    <input type="text" value="{{precioTotal}}$" id="precioActual" readonly></input>
                </div>
                <div id="PRECIOUNIDAD">
                    <label>Precio Unidad:</label>
                    <input type="text" value="{{precioUnidad}}$" id="precioUnidad" readonly></input>
                </div>
                <div id="BotonEditar">
                    <a href="/ProductoEntrada/editar/{{idProductoEntradas}}">Editar</a>
                </div>
                <div>
                    <a href="/ProductoEntrada/Eliminar/{{idProductoEntradas}}" id="botonX"><img
                            src="/img/iconos/eliminar.png" id="eliminar"></a></a>
                </div>
                <div id="agregarDetalleProducto">
                    <button><a href="/detalleProducto/agregar/{{idProductoEntradas}}">Detalle</a></button>
                </div>
            </div>
            {{else}}
            <div id="agregar">
                <div>
                    <p>¡No has registrado Productos.!</p>
                    <a href="/ProductoEntrada/agregar/{{user.idUsuarios}}">¡Introducir uno!</a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</form>