<form action="/clientes/lista/{{user.idUsuarios}}"></form>
<LINK REL=StyleSheet HREF="/css/clientes/clientesLista.css" TYPE="text/css" MEDIA=screen>
<div id="contenedor">
    <div class="row">
        {{#each clientes}}
        <div id="tarjeta">
            <div id="CODIGO">
                <label>Cedula:</label>
                <input type="text" value="{{username}}" id="codigo" readonly></input>
            </div>
            <div id="NOMBRES">
                <label>Nombres:</label>
                <input type="text" value="{{Nombres}}" id="nombres" readonly></input>
            </div>
            <div id="DIRECCION">
                <label>Direccion:</label>
                <input type="text" value="{{Direccion}}" id="Direccion" readonly></input>
            </div>
            <div id="CELULAR">
                <label>Celular:</label>
                <input type="text" value="{{Celular}}" id="celular" readonly></input>
            </div>
            <div>
                <a href="/clientes/editar/{{idClientes}}" id="BotonEditar"><img src="/img/iconos/editar.png" id="editar"></a>
            </div>
            <div>
                <a href="/clientes/Eliminar/{{idClientes}}" id="botonX"><img src="/img/iconos/eliminar.png"
                        id="eliminar"></a></a>
            </div>
        </div>
        {{else}}
        <div id="masProveedor">
            <a href="/clientes/agregar/{{user.idUsuarios}}"><img src="/img/iconos/mas.png" id="mas"></a>
        </div>
        {{/each}}
    </div>
    <div id="masProveedor">
        <a href="/clientes/agregar/{{user.idUsuarios}}"><img src="/img/iconos/mas.png" id="mas"></a>
    </div>
</div>
</form>