<link rel="stylesheet" href="/css/entradasSalidas/entradaSalidasEleccion.css">
    <nav id="nav">
        <div>
            <a id="entradas" href="/entradaSalida/eleccion/{{user.idUsuarios}}">Entradas y Salidas</a>
            <a id="bodega" href="/productos/lista/{{user.idUsuarios}}">Bodega</a>
        </div>
    </nav>
<form action="/entradaSalida/eleccion/{{user.idUsuarios}}" method="get">
    <div id="eleccion1">
        <button type="button">
        <a href="/entradaSalida/entradas/Lista/{{user.idUsuarios}}">Registro de Entradas</a>
        </button>
    </div>
    <div id="eleccion2">
        <button type="button">
        <a href="/entradaSalida/Salidas/Lista/{{user.idUsuarios}}">Registro de Salidas</a>
        </button>
    </div>
</form>