<link rel="stylesheet" href="/css/entradasSalidas/entradaSalidasEleccion.css">
<!--<form action="/entradaSalida/eleccion/{{user.idUsuarios}}" method="get">
<div id="eleccion1">
    <button><a href="/entradaSalida/entradas/Lista/{{user.idUsuarios}}">Registro de Entradas</a></button>
</div>
<div id="eleccion2">
    <button><a href="/entradaSalida/Salidas/Lista/{{user.idUsuarios}}">Registro de Salidas</a></button>
</div>
</form>-->
<form action="/entradaSalida/eleccion/{{user.idUsuarios}}" method="get"></form>
<div id="botones" class="d-grid gap-2 d-md-flex justify-content-md-end">
  <button class="btn btn-primary me-md-2 btn-lg p-4 border-secondary" type="button"><a class="text-decoration-none text-white" href="/entradaSalida/entradas/Lista/{{user.idUsuarios}}">Registro de Entradas</a></button>
  <button class="btn btn-primary btn-lg p-4 border-secondary" type="button"><a class="text-decoration-none text-white" href="/entradaSalida/Salidas/Lista/{{user.idUsuarios}}">Registro de Salidas</a></button>
</div>
</form>