<LINK REL=StyleSheet HREF="/css/tienda/tiendaLista.css" TYPE="text/css" MEDIA=screen>
<img src="/img/avatar.png" id="avatar"></img>
<div id="datosUsuario">
    <label id="dato">{{user.username}}</label>
</div>
<div id="contenido">
    <form action="/tienda/lista/{{user.idUsuarios}}">
        {{#each tiendas}}
        <div id="nombreNegocio">
            <h1>{{nombreNegocio}}</h1>
        </div>
        <div id="RUC">
            <label id="Rucs">RUC:</label>
            <input type="text" name="ruc" id="ruc" value="{{ruc}}" readonly>
        </div>
        <div id="DIRECCION">
            <label id="Direccion">Dirección:</label>
            <input type="text" name="direccion" id="direccion" value="{{direccion}}" readonly>
        </div>
        <div id="contactos">
            <p>Contactos</p>
            <div id="CELULAR">
                <label id="Celular">Celular:</label>
                <input type="number" name="celular" min="0" id="celular" value="{{celular}}" readonly>
            </div>
            <div id="TELEFONO">
                <label id="Telefono">Teléfono:</label>
                <input type="number" name="telefono" min="0" id="telefono" value="{{telefono}}" readonly>
            </div>
        </div>
        <div id="botones">
            <div id="boton">
                <button type="submit" id="Editar"><a href="/tienda/editar/{{idTiendas}}"> Editar Datos </a></button>
            </div>
            <div id="Boton">
                <button id="Agregar"><a href="/proveedor/agregar/{{idTiendas}}">Agregar Proveedor</a></button>
            </div>
        </div>
        {{else}}
        <div id="bienvenida">
            <p>¡¡Bienvenido a Fintech!!<br>
            ¿Aun no tienes informacion en el inventario? <br> O ¿ya lo tienes?<br>
            Da click en más.
            </p>
        </div>
        <div id="agregar">
            <button id="masTiendas"><a href="/tienda/agregar/{{user.idUsuarios}}"><img src="/img/iconos/mas.png" id="mas"></a></button>
        </div>
        {{/each}}
    </form>
</div>