<LINK REL=StyleSheet HREF="/css/tienda/tiendaEditar.css" TYPE="text/css" MEDIA=screen>
<div class="row align-items-center">
    <div class="col-md-11"></div>
    <div class="col-md-1 text-center bg-info rounded-circle">
        <img src="/img/avatar.png" id="avatar"></img><br>
        <p class="text-center text-light h2"> {{user.username}}</p>
    </div>
</div>
<div class="row ">
    <div class="col-3 text-center"></div>
    <div class="col-6 p-4">
        {{#each tienda}}
        <form action="/tienda/editar/{{idTiendas}}" method="POST">
            <div class="border rounded " id="Formulario">
                            <h4 class="text-center text-primary">Datos del Negocio</h4>
                            <label class="form-label text-primary h5">Nombre<i class="bi bi-person"></i></label>
                            <input class="form-control " name="nombreNegocio" id="nombreNegocio" value="{{nombreNegocio}}">
                            <label class="form-label text-primary h5 ">Ruc <i class="bi bi-credit-card-2-front"></i></label>
                            <input class="form-control" type="text" name="ruc" id="ruc" value="{{ruc}}">
                            <label class="form-label text-primary h5">Dirección <i class="bi bi-pin-map"></i></label>
                            <input class="form-control" type="text" name="direccion" id="direccion" value="{{direccion}}">
                            <label class="form-label text-primary h5">Celular <i class="bi bi-phone"></i></label>                            
                            <input class="form-control" type="text" name="celular" min="0" id="Celular" value="{{celular}}">
                            <label class="form-label text-primary h5">Teléfono <i class="bi bi-telephone"></i></label>
                            <input class="form-control" type="text" name="telefono" min="0" id="Telefonos" value="{{telefono}}">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end p-3 text-secundary">
                            <button type="submit" class="btn btn-outline-info text-primaty">Guardar <i class="bi bi-check2-circle"></i></button>
                            </div>
            </div>
        </form>
        {{/each}}
    </div>
    <div class="col-3 text-center"></div>
</div>
<!-- <LINK REL=StyleSheet HREF="/css/tienda/tiendaEditar.css" TYPE="text/css" MEDIA=screen>
<img src="/img/avatar.png" id="avatar"></img>
<div id="datosUsuario">
    <p>
    <p id="dato">{{user.username}}</p>
    </p>
</div>
<div id="formulario">
    <div id="DatoNegocio">
        <p>Datos del Negocio</p>
    </div>
    {{#each tienda}}
    <form action="/tienda/editar/{{idTiendas}}" method="POST">
        <div id="NombreNegocio">
            <label id="Nombre">Nombre:</label>
            <input type="text" name="nombreNegocio" id="nombreNegocio" value="{{nombreNegocio}}">
        </div>
        <div id="RUC">
            <label id="RUCs">RUC:</label>
            <input type="text" name="ruc" id="ruc" value="{{ruc}}">
        </div>
        <div id="DIRECCION">
            <label id="Direccion">Dirección:</label>
            <input type="text" name="direccion" id="direccion" value="{{direccion}}">
        </div>
        <div id="Contactos">
            <p id="contactos">Contactos</p>
        </div>
        <div id="CELULAR">
            <label id="celular">Celular:</label>
            <input type="text" name="celular" min="0" id="Celular" value="{{celular}}">
        </div>
        <div id="TELEFONO">
            <label id="telefonos">Teléfono:</label>
            <input type="text" name="telefono" min="0" id="Telefonos" value="{{telefono}}">
        </div>
        <div id="boton">
            <button type="submit" id="guardar1">Guardar</button>
        </div>
    </form>
    {{/each}}
</div> -->